{% extends 'base.html' %}
{% block content %}
<ul style="text-align:center;">
 <h1>Contact</h1>
    <p class="description">If you have any question or digression,<br> just call me or drop me a line. <br>
        <br>



<img style="width: 440px" src="/static/contact.jpg"><br><br>

<p class="description">Ewa Dwornik<br>
    nofutureyoga@gmail.com<br>
    +354 7837141<br>
    <a href='https://www.facebook.com/nofutureyoga'>My Facebook</a><br>
    <a href='https://www.instagram.com/nofuture.yoga/'>My Instagram</a></p>
{% endblock %}
