{% extends 'base.html' %}
{% block content %}

<h1>Welcome to No Future!</h1>

<table style="width:100%">

    <tr>
        <td>
            <img class="card-img-top" src="/static/Jeb_and_Iwa.png" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/website/music">Music</a></h5>
            </div>
            <br>
        </td>
        <td>
            <img class="card-img-top" src="/static/yoga.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/website/yoga">Yoga</a></h5>
            </div>
        </td>
        <td style="width: 25%">
            <img class="card-img-top" style src="/static/shop.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/">Shop</a></h5>
            </div>
            <br>
        </td>
        <td style="width: 25%">
            <img class="card-img-top" src="/static/programming.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/website/programming">Programming</a></h5>
            </div>
        </td>
    </tr>

    <tr>
        <td style="width: 25%">
            <img class="card-img-top" src="/static/knitting/lopakjoll.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/website/knitting">Knitting</a></h5>
            </div>
            <br>
        </td>
        <td style="width: 25%">
            <img class="card-img-top" src="/static/primes2.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/website/calculators">Prime numbers calculators</a>
                </h5>
            </div>
            <br>
        </td>
        <td style="width: 25%">
            <img class="card-img-top" src="/static/rishikesh.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="/">Contact</a></h5>
            </div>
        </td>
        <td style="width: 25%">
            <img class="card-img-top" src="/static/volcano.png" alt="">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="https://www.youtube.com/watch?v=BA-9QzIcr3c">Live from
                    the volcano</a></h5>
            </div>
        </td>
    </tr>
</table>


{% endblock %}
